{% if page.slug == 'home' %}
    <div class="grid home-nav">
        <div>
            <div><a href="#presentation">Présentation</a></div>
            <div><a href="#medico">Médico-social</a></div>
            <div><a href="#ateliers">Ateliers</a></div>
            <div><a href="#actionco">Actions commerciales</a></div>
        </div>
        <div>
            <div><a href="#saesat">SAESAT</a></div>
            <div><a href="#autrement">Autrement</a></div>
            <div><a href="#partenaires">Partenaires</a></div>
            <div><a href="#contact">Contact - Infos</a></div>
        </div>
    </div>
{% else %}
    <div class="grid page-nav">
        <div>
            <div><a href="{{base_url}}/#presentation">Présentation</a></div>
            <div><a href="{{base_url}}/#medico">Médico-social</a></div>
            <div><a href="{{base_url}}/#ateliers">Ateliers</a></div>
            <div><a href="{{base_url}}/#actionco">Actions commerciales</a></div>
        </div>
        <div>
            <div><a href="{{base_url}}/#saesat">SAESAT</a></div>
            <div><a href="{{base_url}}/#autrement">Autrement</a></div>
            <div><a href="{{base_url}}/#partenaires">Partenaires</a></div>
            <div><a href="{{base_url}}/#contact">Contact - Infos</a></div>
        </div>
    </div>
{% endif %}
